@media (max-width: 560px) {
  body {
    background-color: purple;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  .philosophy-section{
    display: inline-block;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
  }
}
